/* Of course, you can add external css to this, however take care not to break anything, if you do I won't be able to fix it,
    so please don't... please don't, really, really, please don't, look at me, I'm begging you, please don't 
    
    
    -Neo Zen */


@import "Nebula/Animations(tabs).css";