@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-findbar-disabled")) {
        :has(.browserSidebarContainer.deck-selected > .browserContainer > findbar:not([hidden="true"])) {
            #zen-tabbox-wrapper::before {
                position: absolute !important;
                align-self: center !important;
                z-index: 0 !important;
                content: "" !important;
                background-color: light-dark(rgba(255, 255, 255, 1), rgba(60, 60, 60, 1)) !important;

                top: auto;
                width: calc(70%);
                opacity: 1 !important;
                bottom: calc(var(--zen-element-separation) + 2px);
                height: 75px;
                left: auto;
                right: auto;

                margin-top: 0px !important;
                margin-bottom: 0px !important;


                border-radius: calc(var(--Neo-Border-Radius) + 2px);
                visibility: visible;

                transition: opacity 0.0s ease, bottom 1.0s ease, width 1.0s ease, height 1.0s ease !important;
            }
        }


        @media (-moz-pref("neo-features-findbar-hover-enabled")) {
            #zen-tabbox-wrapper::before {
                height: 26px !important;
                width: 92px !important;

                border-radius: 30px !important;
            }

            :has(.browserSidebarContainer.deck-selected > .browserContainer > findbar:not([hidden="true"]):hover) {
                #zen-tabbox-wrapper::before {
                    height: 75px !important;
                    border-radius: calc(var(--Neo-Border-Radius) + 2px) !important;
                    width: calc(70%) !important;
                }
            }
        }
    }

    #zen-tabbox-wrapper {
        position: relative !important;
        justify-content: center !important;
    }
}