@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-search-disabled")) {
        :root {
            --urlbar-container-height: var(--Neo-Zen-URL-Height) !important;
            --Neo-Count-Rows: 0;

            &:not([animating-background="true"]) {
                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(1)) {
                    --Neo-Count-Rows: 1 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(2)) {
                    --Neo-Count-Rows: 2 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(3)) {
                    --Neo-Count-Rows: 3 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(4)) {
                    --Neo-Count-Rows: 4 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(5)) {
                    --Neo-Count-Rows: 5 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(6)) {
                    --Neo-Count-Rows: 6 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(7)) {
                    --Neo-Count-Rows: 7 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(8)) {
                    --Neo-Count-Rows: 8 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(9)) {
                    --Neo-Count-Rows: 9 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(10)) {
                    --Neo-Count-Rows: 10 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(11)) {
                    --Neo-Count-Rows: 11 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(12)) {
                    --Neo-Count-Rows: 12 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(13)) {
                    --Neo-Count-Rows: 13 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(14)) {
                    --Neo-Count-Rows: 14 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(15)) {
                    --Neo-Count-Rows: 15 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(16)) {
                    --Neo-Count-Rows: 16 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(17)) {
                    --Neo-Count-Rows: 17 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(18)) {
                    --Neo-Count-Rows: 18 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(19)) {
                    --Neo-Count-Rows: 19 !important;
                }

                #zen-main-app-wrapper:has(#urlbar-results>.urlbarView-row:first-child:nth-last-child(20)) {
                    --Neo-Count-Rows: 20 !important;
                }
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 1)) {
                --Neo-Max-Result-Number: 1;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 2)) {
                --Neo-Max-Result-Number: 2;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 3)) {
                --Neo-Max-Result-Number: 3;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 4)) {
                --Neo-Max-Result-Number: 4;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 5)) {
                --Neo-Max-Result-Number: 5;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 6)) {
                --Neo-Max-Result-Number: 6;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 7)) {
                --Neo-Max-Result-Number: 7;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 8)) {
                --Neo-Max-Result-Number: 8;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 9)) {
                --Neo-Max-Result-Number: 9;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 10)) {
                --Neo-Max-Result-Number: 10;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 11)) {
                --Neo-Max-Result-Number: 11;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 12)) {
                --Neo-Max-Result-Number: 12;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 13)) {
                --Neo-Max-Result-Number: 13;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 14)) {
                --Neo-Max-Result-Number: 14;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 15)) {
                --Neo-Max-Result-Number: 15;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 16)) {
                --Neo-Max-Result-Number: 16;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 17)) {
                --Neo-Max-Result-Number: 17;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 18)) {
                --Neo-Max-Result-Number: 18;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 19)) {
                --Neo-Max-Result-Number: 19;
            }

            @media (-moz-pref("browser.urlbar.maxRichResults", 20)) {
                --Neo-Max-Result-Number: 20;
            }
        }
    }
}