@media not (-moz-pref("neo-features-disabled")) {
  @media not (-moz-pref("neo-features-sidebar-disabled")) {
    @media (-moz-pref("browser.tabs.allow_transparent_browser")) {
      /* Height adjustment for compact mode - expanded - multiple toolbar - only hidden tab bar */
      @media not (-moz-pref("zen.view.compact.hide-toolbar")) {
        :root:not([zen-single-toolbar="true"]) body:has([zen-compact-mode="true"]) #browser::after {
          top: calc(var(--zen-toolbar-height) + var(--zen-element-separation) / 2) !important;
          height: calc(100% - var(--zen-toolbar-height) - var(--zen-element-separation) * 2) !important;
        }
      }

      /* Height adjustment for compact mode - expanded - multiple toolbar - hide both */
      @media (-moz-pref("zen.view.compact.hide-toolbar")) {
        :root:not([zen-single-toolbar="true"]) body:has([zen-compact-mode="true"]) #browser::after {
          height: calc(100% - var(--zen-toolbar-height) - var(--zen-element-separation) - var(--zen-toolbox-padding) * 3) !important;
          top: calc(var(--zen-toolbar-height) + var(--zen-toolbox-padding) * 3) !important;
        }
      }

      /* Height adjustment for compact mode - expanded - single toolbar - only hidden tab bar */
      :root[zen-single-toolbar="true"] body:has([zen-compact-mode="true"]) #browser::after {
        top: calc(var(--zen-element-separation) * 1) !important;
        height: calc(100% - (var(--zen-element-separation) * 2)) !important;
      }

      :root {
        &[zen-sidebar-expanded="true"][zen-right-side="true"] #browser::after {
          right: calc(-1 * var(--Neo-Width-Compact-Expanded) - 1px) !important;
        }

        &[zen-sidebar-expanded="true"]:not([zen-right-side="true"]) #browser::after {
          left: calc(-1 * var(--Neo-Width-Compact-Expanded) - 1px) !important;
        }

        &[zen-right-side="true"]:not([zen-sidebar-expanded="true"]) #browser::after {
          right: calc(var(--zen-toolbox-max-width) * -1 - var(--zen-element-separation) * 2) !important;
        }

        &:not([zen-right-side="true"]):not([zen-sidebar-expanded="true"]) #browser::after {
          left: calc(var(--zen-toolbox-max-width) * -1 - var(--zen-element-separation) * 2) !important;
        }
      }

      :has([zen-compact-mode="true"]) {

        :has(#navigator-toolbox[zen-user-show=""],
          #navigator-toolbox[zen-has-hover="true"],
          #navigator-toolbox[has-popup-menu=""],
          #PanelUI-zen-gradient-generator[panelopen="true"],
          #downloadsPanel-mainView[visible="true"],
          .zen-current-workspace-indicator #tab-label-input,
          #zen-sidebar-foot-buttons #customizationui-widget-panel,
          .tab-group-editor-panel.tab-group-editor-mode-create[panelopen="true"]) {
          :has([zen-right-side="true"]) {
            #browser::after {
              left: unset !important;
              right: calc(var(--Neo-Separation-Sidebar) + var(--zen-element-separation) * 1.5) !important;
            }
          }

          :not(:has([zen-right-side="true"])) {
            #browser::after {
              right: unset !important;
              left: calc(var(--Neo-Separation-Sidebar) + var(--zen-element-separation) * 1.5) !important;
            }
          }
        }
      }
    }
  }
}