@import "Neo-Search-Align.css";
@import "Neo-Search-Background.css";

@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-search-disabled")) {
        @media (-moz-pref("zen.urlbar.behavior", "float")) {
            #urlbar {
                /* Optimized: Add will-change for better performance */
                will-change: top, width;
                contain: layout;
                transition: top 0.5s ease,
                    width 0.5s ease;
            }
            #urlbar[open][zen-floating-urlbar="true"] {
                --urlbar-container-height: var(--Neo-Zen-URL-Height) !important;
                width: min(90%, 75rem) !important;
                top: calc(48% - var(--Neo-Zen-URL-Height) / 2) !important;
                
                & #urlbar-background {
                    background: var(--Neo-Blur-Color) !important;
                    backdrop-filter: var(--Neo-Blur-Search) !important;
                    border-radius: calc(var(--Neo-Zen-URL-Height) / 2) !important;
                    
                    transition: border-radius 0.4s ease !important;
                }
                
                & .urlbarView {
                    min-height: 0px !important;
                    max-height: 0px !important;
                    opacity: 0 !important;
                    
                    transition: min-height 0.5s ease,
                        max-height 0.5s ease,
                        height 0.5s ease,
                        opacity 0.1s ease !important;
                    
                    & #urlbar-results {
                        display: flex !important;
                        flex-direction: column !important;
                        overflow: auto !important;
                        padding: var(--Neo-Margin-Height) 10px 0px 10px !important;
                        justify-content: center !important;
                        
                        & .urlbarView-row {
                            height: var(--Neo-Rows-Height) !important;
                            min-height: var(--Neo-Rows-Height) !important;
                            max-height: var(--Neo-Rows-Height) !important;
                            margin-top: 0px !important;
                            margin-bottom: var(--Neo-Margin-Height) !important;
                        }
                    }
                }
            }
        }
    }
}