@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-search-disabled")) {
        @media (-moz-pref("zen.urlbar.behavior", "float")) {
            #zen-main-app-wrapper:has(#urlbar[open=""][focused=""][zen-floating-urlbar='true'][usertyping=""]) {
                --Auxiliar-Row-Height: calc(var(--Neo-Rows-Height) + var(--Neo-Margin-Height) + 5px);
                --min-height-view: calc(var(--Auxiliar-Row-Height) * var(--Neo-Count-Rows) + var(--Neo-Margin-Height));
                &::after {
                    height: calc(var(--min-height-view) + var(--urlbar-container-height) - 2px);
                    border-radius: calc(var(--Neo-Border-Radius) + 3px) !important;
                    top: calc(48% - (2% * var(--Neo-Max-Result-Number)) - var(--Neo-Zen-URL-Height) + 1px) !important;
                }
                & #urlbar > .urlbarView {
                    opacity: 1 !important;
                    min-height: var(--min-height-view) !important;
                    
                    transition: min-height 0.5s ease, opacity 0.5s ease 100ms !important;

                }
                
                & #urlbar{
                    top: calc(48% - (2% * var(--Neo-Max-Result-Number)) - var(--Neo-Zen-URL-Height)) !important;
                    & #urlbar-background {
                        border-radius: calc(var(--Neo-Border-Radius) + 3px) !important;
                    }
                }
            }
        }
    }
}