:root:not([animating-background="true"]) {
    @media not (-moz-pref("neo-features-disabled")) {
        @media not (-moz-pref("neo-features-search-disabled")) {
            @media (-moz-pref("zen.urlbar.behavior", "float")) {
                #zen-main-app-wrapper::after {
                    position: absolute !important;
                    align-self: center !important;
                    justify-self: center !important;
                    z-index: -999 !important;
                    content: "" !important;
                    background: var(--Neo-Background-Color);

                    width: 0px;
                    align-self: center !important;
                    opacity: 0;
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                    margin-left: auto !important;
                    margin-right: auto !important;


                    height: calc(var(--Neo-Zen-URL-Height) - 2px);
                    left: auto !important;
                    right: auto !important;
                    bottom: unset;
                    top: calc(48% - var(--Neo-Zen-URL-Height) / 2 + 1px);

                    border-radius: calc(var(--Neo-Zen-URL-Height) / 2 - 1px);
                    visibility: visible !important;

                    transition: top 0.5s ease, height 0.5s ease, width 0.5s ease;

                }

                :has(#urlbar[open=""][zen-floating-urlbar='true']) {
                    #zen-main-app-wrapper::after {
                        opacity: 1 !important;
                        width: min(calc(90% - 2px), calc(75rem - 2px)) !important;
                    }
                }


                #zen-main-app-wrapper {
                    display: flex !important;
                    justify-content: center !important;
                }
            }
        }
    }
}