/* Pseudo background for media player */
@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-media-disabled")) {
        #TabsToolbar::before {
            align-self: center !important;
            justify-self: center !important;
            position: absolute !important;
            z-index: -1 !important;
            content: "" !important;
            background: var(--Neo-Background-Color);

            width: calc(100%);
            opacity: 0;

            height: 34px;
            top: auto;
            left: auto;
            right: auto !important;
            bottom: var(--zen-toolbox-padding);

            border-radius: var(--Neo-Border-Radius) !important;
            visibility: visible !important;
            transition: bottom 0.3s ease 100ms, height 0.2s ease, opacity 0.3s ease;
        }

        :root:not([zen-compact-mode="true"]) {
            #navigator-toolbox:has(#zen-media-controls-toolbar:hover) {
                #TabsToolbar::before {
                    opacity: 1 !important;
                }
            }
        }

        :root:not([zen-single-toolbar="true"])[zen-compact-mode="true"] {
            #navigator-toolbox:has(#zen-media-controls-toolbar:hover) {
                @media not (-moz-pref("zen.view.compact.hide-tabbar")) {
                    #TabsToolbar::before {
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}