:root[zen-sidebar-expanded="true"] {
    #navigator-toolbox:has(#zen-media-controls-toolbar:hover) {
        #TabsToolbar::before {
            height: 108px !important;
        }
    }

    #navigator-toolbox:has(#zen-media-controls-toolbar[media-position-hidden="true"]:hover):has(#zen-media-artist:empty) {
        #TabsToolbar::before {
            height: 68px !important;
        }
    }

    #navigator-toolbox:has(#zen-media-controls-toolbar[media-position-hidden="true"]:hover),
    #navigator-toolbox:has(#zen-media-controls-toolbar:hover):has(#zen-media-artist:empty) {
        #TabsToolbar::before {
            height: 92px !important;
        }
    }
}

:root:not([zen-sidebar-expanded="true"]) {
    #TabsToolbar::before {
        bottom: 0px !important;
        width: calc(44px);
        height: 0px;
        transition: height 1s ease, opacity 0.5s ease !important;
    }

    #navigator-toolbox:has(#zen-media-controls-toolbar:hover) {
        #TabsToolbar::before {
            height: 210px;
        }
    }
}

/* Bottom alignment */
@media (-moz-bool-pref: "neo-features-bottom-at-bottom") {
    :root[zen-sidebar-expanded="true"] {

        #navigator-toolbox {
            & #TabsToolbar::before {
                bottom: calc(var(--zen-toolbox-padding) + var(--Neo-Bottom-Height-Aux) + var(--Neo-Bottom-Margin-Top)) !important;
            }
        }

    }
}