@media not (-moz-pref("neo-features-disabled")) {
  @media not (-moz-pref("neo-features-media-disabled")) {
    :root[zen-sidebar-expanded="true"] {
      #zen-media-controls-toolbar {
        margin: 5px 0px !important;
        height: 40px !important;
        width: 100% !important;
        padding: 0px 0px !important;
      }

      #zen-media-controls-toolbar>toolbaritem {
        width: 100% !important;

        & #zen-media-buttons-hbox {
          z-index: 9999 !important;
        }
      }
    }
  }
}