@import "Neo-Media-Background.css";
@import "Neo-Media-Background-Align.css";
@import "Neo-Media-Collapsed.css";
@import "Neo-Media-Expanded.css";

@media not (-moz-pref("neo-features-disabled")) {
  @media not (-moz-pref("neo-features-media-disabled")) {
    #zen-media-controls-toolbar {
      align-self: center !important;
      background: none !important;
      position: relative !important;
      margin: 0px 0px !important;
    }

    #zen-media-controls-toolbar>toolbaritem {
      background: var(--Neo-Blur-Color) !important;
      backdrop-filter: var(--Neo-Blur-Simple) !important;
      border-radius: var(--Neo-Border-Radius) !important;
    }
  }
}