@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-background-enabled")) {

        /* Remove new tab background color*/
        .browserStack browser {
            background-color: transparent !important;
        }
    }

    @media not (-moz-pref("neo-theme-shadow-enabled")) {

        /* Remove shadow */
        hbox.browserSidebarContainer,
        #zen-tabbox-wrapper {
            box-shadow: none !important;
        }
    }
}