/* === BETTER CUSTOMIZE TOOLBAR === */
/* Based on code by https://github.com/Tanay-Kar */

@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-customization-toolbar-disabled")) {
        #customization-container {
            position: absolute;
            z-index: 1;
            bottom: 10px;
            right: 10px;
            height: 80%;
            width: 70%;
            border-radius: var(--Neo-Border-Radius) !important;

            padding: 10px;
            background: var(--Neo-Black-1) !important;
        }

        @media (-moz-bool-pref: "zen.tabs.vertical.right-side") {
            #customization-container {
                left: 10px;
            }

            #customization-container #customization-content-container {
                flex-direction: row-reverse;
            }
        }

        #customization-container #customization-panel-container {
            padding: 10px !important;
        }


        #customization-container #customization-panelWrapper {
            --panel-arrow-offset: 0px;
        }

        #customization-container .panel-arrowbox {
            display: none !important;
        }

        #customization-container .panel-arrowcontent {
            height: 100% !important;
            background: var(--Neo-Black-1) !important;
            border: none !important;
            margin: 0px !important;
            border-radius: var(--Neo-Border-Radius) !important;
        }


        /* Check when the width is low */
        @media (max-width: 700px) {

            /* Adjust the threshold as needed */
            #customization-container {
                /* Temporary visual indicator */
                border: 2px solid red;
            }
        }
    }
}