@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-findbar-disabled")) {
        findbar {
            box-shadow: 0px 0px 12px var(--Neo-Glow-Color-3) !important;
            border: 1px solid var(--Neo-Glow-Color-1) !important;

            & .findbar-textbox {
                background: transparent !important;
                outline: none !important;
                border: 1px solid var(--Neo-Glow-Color-1) !important;
            }

            & .findbar-find-status {
                display: none !important;
            }
        }
    }
}