@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-sidebar-panel-disabled")) {

        #sidebar-box {
            background-color: light-dark(rgba(255, 255, 255, 0.11), rgba(0, 0, 0, 0.2)) !important;
            border: 1px solid color-mix(in srgb, var(--zen-primary-color) 90%, #000000ff) !important;
            box-shadow: 0px 0px 3px var(--Neo-Glow-Color-1) !important;

            & #sidebar {
                background: transparent !important;
            }
        }

        .sidebar-panel {
            background: transparent !important;
        }

        #sidebar-box #sidebar-header {
            border-bottom: none !important;
        }

        /* Transparent Sidebar Search Box & View Button */
        #sidebar-search-container>#search-box,
        #viewButton {
            padding: 4px 8px !important;
            appearance: none !important;
            background-color: transparent !important;
            border-radius: var(--Neo-Border-Radius) !important;
            border: none !important;
        }

        #sidebar-search-container>#search-box,
        #viewButton,
        #sidebar-search-container>#search-box:active,
        #viewButton:active {
            background-color: transparent !important;
            border-radius: var(--Neo-Border-Radius) !important;
            transition: background-color 0.5s ease !important;
        }

        #sidebar-search-container>#search-box:hover,
        #viewButton:hover,
        #sidebar-search-container>#search-box:active,
        #viewButton:active {
            border-radius: var(--Neo-Border-Radius) !important;
            background-color: light-dark(rgba(255, 255, 255, 0.11), rgba(0, 0, 0, 0.2)) !important;
            transition: background-color 0.5s ease !important;
        }

        body[role="application"] {
            --lwt-sidebar-background-color: transparent !important;

            & .content-container {
                background: transparent !important;
            }
        }
    }
}