@import "BrowserBackground.css";
@import "WindowButtons.css";
@import "Findbar.css";
@import "Sidebar-Panel.css";
@import "CustomizationScreen.css";


@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-scrollbar-enabled")) {
        scrollbox {
            scrollbar-width: none !important;
        }
    }
}