@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-tab-groups-disabled")) {
        #navigator-toolbox:not([zen-sidebar-expanded="true"]) {
            tab-group:not([split-view-group]) {
                display: flex !important;
                flex-direction: column !important;
                position: relative !important;
                z-index: 9999 !important;

                align-content: center !important;

                margin: 3px 1px 3px 1px !important;
                padding: 0px 0px 0px 0px !important;

                overflow: unset !important;
                scrollbar-width: none !important;

                &[collapsed] {
                    max-height: 36px !important;
                }

                &:not([collapsed]) {
                    max-height: 210px !important;
                    overflow: scroll !important;
                }

                & tab {
                    display: flex !important;
                    margin: 0px auto 0px auto !important;
                    transition: opacity 0.5s ease !important;
                }

                & .tab-group-label-container {
                    display: flex !important;
                    flex: 0 0 auto !important;
                    position: sticky !important;
                    top: 0 !important;
                    z-index: 9999 !important;

                    width: 100% !important;
                    flex: 0 0 auto !important;
                    z-index: 9999 !important;

                    height: 34px !important;
                    min-height: 34px !important;
                    max-height: 34px !important;

                    margin: 0px 0px 4px 0px !important;
                    padding: 0px 0px 0px 0px !important;
                }

                & .tab-group-label-container>label {
                    align-content: center !important;
                    justify-content: center !important;
                    min-width: 100% !important;
                    width: 100% !important;

                    font-weight: 0 !important;
                    font-size: 0px !important;
                    content: "" !important;
                    color: transparent !important;

                    padding: 0px 3px !important;
                    margin: 0px 0px 0px 0px !important;
                }
            }

            /* Display tabs when tab group is collapsed */
            tab-group:not([split-view-group])[collapsed] tab {
                opacity: 0 !important;
                pointer-events: none !important;
                z-index: -999 !important;
                display: none !important;
            }

            /* Hide bar that shows to the side of the tabs */
            tab-group:not([split-view-group]) {
                .tabbrowser-tab::before {
                    display: none !important;
                }
            }

            /*HIDE A FUCKING PSEUDO ELEMENT THAT IS COMPLETELY USELESS*/
            tab-group:not([split-view-group]) .tab-group-label-container {
                #tabbrowser-tabs[orient="vertical"] tab-group:not([collapsed])>&::after {
                    width: var(--tab-group-line-thickness);
                    inset-block: unset !important;
                    inset-inline: unset !important;
                    border-start-start-radius: unset !important;
                    border-start-end-radius: unset !important;
                }
            }
        }
    }
}