@import "URL-Bar-Input.css";
@import "URL-Bar-Floating.css";
@import "URL-Bar-Rows.css";


#urlbar {
    & #page-action-buttons {
        & #userContext-icons {
            filter: drop-shadow(0px 0px 5px var(--identity-icon-color)) brightness(1.1) !important;

            & #userContext-indicator {
                align-self: center !important;
                margin-left: 6px !important;
                width: 6px !important;
                height: 16px !important;
                background-image: unset !important;
                background-color: var(--identity-icon-color) !important;
                border-radius: 5px !important;
                box-shadow: 0px 0px 7px var(--identity-icon-color) !important;
            }

            & #userContext-label {
                display: flex !important;
                text-align: center !important;
                text-justify: center !important;
                padding-bottom: 1px !important;
                min-width: 0px !important;
                width: 0px !important;
                max-width: 0px !important;
                transition: width 0.4s ease, min-width 0.4s ease, max-widht 0.4s ease !important;
            }

            &:hover {
                & #userContext-label {
                  
                    filter: drop-shadow(0px 0px 10px var(--identity-icon-color)) brightness(1) !important;
                    min-width: 60px !important;
                    width: 60 !important;
                    max-width: 60px !important;
                }
            }
        }
    }
}