@media not (-moz-pref("neo-theme-urlbar-disabled")) {
  .urlbar-input {
    text-align: center !important;
  }

  #urlbar-container {
    #nav-bar:is([downloadsbuttonshown], [unifiedextensionsbuttonshown]) & {
      border-radius: var(--Neo-Border-Radius) !important;
      background: #00000000 !important;
      transition: background 0.5s ease !important;
    }

    & #urlbar:not([open]) {
      & #urlbar-background {
        border-radius: var(--Neo-Border-Radius) !important;
      }

      &:hover .urlbar-input-container {
        box-shadow: 0 0px 6px color-mix(in srgb, var(--zen-primary-color) 80%, transparent) !important;
        border: 1px solid color-mix(in srgb, var(--zen-primary-color) 80%, transparent) !important;
        color: var(--zen-primary-color) !important;
        opacity: 1.0 !important;
      }
    }
  }

  /* Limit the width of the url bar when it's not open */
  :root:not([zen-single-toolbar="true"]) {
    #urlbar-container:has(#urlbar:not([open])) {
      display: flex !important;
      justify-content: center !important;

      & #urlbar:not([open]) {
        max-width: 70% !important;
      }
    }
  }

  #urlbar:not([breakout-extend="true"]) {
    :root:not([supress-primary-adjustment]) & #urlbar-background {
      border-radius: var(--Neo-Border-Radius) !important;
      background: var(--Neo-Black-1) !important;
      filter: blur(20px), brightness (1.2) !important;
      transition: background 0.55s ease !important;
      color: var(--zen-primary-color) !important;
      outline: none !important;
    }
  }

  #urlbar:not([open]) .urlbar-input-container {
    border-radius: var(--Neo-Border-Radius) !important;
    border: 1px solid color-mix(in srgb, var(--zen-primary-color) 40%, transparent) !important;
    transition: border 0.5s ease, color 0.5s ease, box-shadow 0.5s ease !important;
    box-shadow: 0 0px 6px transparent !important;
  }

  :root[zen-single-toolbar="true"] {

    #urlbar:not([open]):not(:hover) #userContext-icons,
    #urlbar:not([open]):not(:hover) #identity-permission-box,
    #urlbar:not([open]):not(:hover) #identity-icon-box {
      margin-inline-start: calc(-9px - 2 * var(--urlbar-icon-padding)) !important;
      transform: translateX(100%);
      opacity: 0;
      width: auto !important;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    #urlbar:not([open]):hover #userContext-icons,
    #urlbar:not([open]):hover #identity-permission-box,
    #urlbar:not([open]):hover #identity-icon-box {
      transform: none !important;
      opacity: 1 !important;
    }
  }
}