@media not (-moz-pref("neo-theme-urlbar-disabled")) {
    #urlbar[open] {
        .urlbarView-row {
            box-shadow: 0 0px 0px color-mix(in srgb, var(--zen-primary-color) 0%, transparent);
            border: 1px solid color-mix(in srgb, var(--zen-primary-color) 0%, transparent) !important;
            border-radius: var(--Neo-Border-Radius) !important;
            transition: background-color 1.0s ease, border 1.0s ease, box-shadow 0.5s ease, opacity 0.5s ease;
        }

        .urlbarView-row {
            &[selected] {
                background-color: color-mix(in srgb, var(--zen-primary-color) 50%, transparent 100%) !important;
                box-shadow: 0 0px 8px color-mix(in srgb, var(--zen-primary-color) 80%, transparent);
                border: 1px solid color-mix(in srgb, var(--zen-primary-color) 80%, transparent) !important;
            }

            &:hover {
                background-color: color-mix(in srgb, var(--zen-primary-color) 50%, transparent 100%) !important;
                box-shadow: 0 0px 8px color-mix(in srgb, var(--zen-primary-color) 80%, transparent);
                border: 1px solid color-mix(in srgb, var(--zen-primary-color) 80%, transparent) !important;
            }
        }

        & .urlbarView-action {
            text-align: center !important;
            text-justify: center !important;
            justify-content: right !important;

            margin-right: 1px !important;
        }

        & .urlbarView-row[has-action]:is([type="switchtab"], [type="remotetab"], [type="clipboard"]) {
            &:is([type="switchtab"], [type="remotetab"]) .urlbarView-action {
                &::after {
                    display: flex !important;
                    position: relative !important;

                    mask-image: none !important;

                    width: 4px !important;
                    height: 25px !important;

                    background-color: var(--Neo-Glow-Color-3) !important;
                    box-shadow: 0px 0px 4px var(--Neo-Glow-Color-3) !important;

                    margin: 0px 0px !important;
                    left: auto !important;
                    right: 5px !important;
                }
            }
        }
    }
}