@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-urlbar-disabled")) {
        #urlbar[open] {
            & #urlbar-label-box {
                display: none !important;
            }
        }

        #urlbar[open] #urlbar-background {

            box-shadow: 0px 0px 10px #000000 !important;
            border-radius: calc(var(--Neo-Border-Radius) + 2px) !important;

            border: none !important;

            outline-style: none !important;
            outline-color: transparent !important;

            @media not (-moz-pref("neo-theme-urlbar-glow-border-disabled")) {
                @media not (-moz-pref("neo-theme-urlbar-glow-disabled")) {
                    box-shadow: 0px 0px 3px var(--Neo-Glow-Color-1) !important;
                    filter: drop-shadow(0px 0px 8px var(--Neo-Glow-Color-1)) !important;
                }

                @media not (-moz-pref("neo-theme-urlbar-border-disabled")) {
                    border: 2px solid var(--Neo-Glow-Color-1) !important;
                }
            }

            /* Individual controls that work independently */
            @media (-moz-pref("neo-theme-urlbar-glow-border-disabled")) {
                @media not (-moz-pref("neo-theme-urlbar-glow-disabled")) {
                    box-shadow: 0px 0px 3px var(--Neo-Glow-Color-1) !important;
                    filter: drop-shadow(0px 0px 8px var(--Neo-Glow-Color-1)) !important;
                }

                @media not (-moz-pref("neo-theme-urlbar-border-disabled")) {
                    border: 2px solid var(--Neo-Glow-Color-1) !important;
                }
            }
        }

        .urlbarView-body-inner {
            #urlbar[open]>.urlbarView>.urlbarView-body-outer>& {
                border-top: 1px solid color-mix(in srgb, var(--zen-primary-color) 0%, transparent 100%) !important;
            }
        }
    }
}