@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-media-disabled")) {
        :root[zen-sidebar-expanded="true"] {
            #zen-media-info-vbox {
                &::before {
                    display: none !important;
                }
            }

            #zen-media-controls-toolbar {
                & #zen-media-progress-bar {
                    &::-moz-range-progress {
                        background: color-mix(in srgb, var(--zen-primary-color) 70%, white) !important;
                        filter: drop-shadow(0px 0px 15px color-mix(in srgb, var(--zen-primary-color) 70%, white)) !important;
                        box-shadow: 0 0px 15px color-mix(in srgb, var(--zen-primary-color) 70%, white) !important;
                    }

                    &::-moz-range-thumb {
                        background: color-mix(in srgb, var(--zen-primary-color) 70%, white) !important;
                        filter: drop-shadow(0px 0px 5px color-mix(in srgb, var(--zen-primary-color) 70%, white)) !important;
                        box-shadow: 0 0px 5px color-mix(in srgb, var(--zen-primary-color) 70%, white) !important;
                    }
                }
            }
        }
    }

    #zen-media-controls-toolbar>toolbaritem {
        & #zen-media-info-vbox {
            padding: 3px !important;
            box-shadow: none !important;
            filter: drop-shadow(0px 0px 2px color-mix(in srgb, var(--zen-primary-color) 20%, white)) brightness(1.6);
        }

        & .toolbarbutton-1 {
            & .toolbarbutton-icon {
                border-radius: 0px !important;
                transition: background 0.5s ease, scale 1.3s ease, filter 0.3s ease, fill 0.3s ease !important;
            }

            &:not(#zen-media-focus-button) .toolbarbutton-icon {
                fill: color-mix(in srgb, var(--zen-primary-color) 0%, white 70%);
                filter: drop-shadow(0px 0px 3px color-mix(in srgb, var(--zen-primary-color) 0%, white 50%)) brightness(1.0);
            }

            &:not([disabled="true"]):hover {
                & .toolbarbutton-icon {
                    fill: color-mix(in srgb, var(--zen-primary-color) 60%, white) !important;
                    background: transparent !important;
                    scale: 1.6 !important;
                    filter: drop-shadow(0px 0px 5px color-mix(in srgb, var(--zen-primary-color) 60%, white)) brightness(1.0) !important;
                    transition: background 0.5s ease, scale 0.4s ease, filter 0.3s ease, fill 0.3s ease !important;
                }
            }
        }
    }
}