@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-tab-groups-disabled")) {
        #navigator-toolbox[zen-sidebar-expanded="true"] {
            tab-group:not([split-view-group]) {
                display: flex !important;
                flex-direction: column !important;
                position: relative !important;
                z-index: 9999 !important;

                align-content: center !important;

                margin: 5px 2px 5px 2px !important;
                padding: 0px 0px 0px 0px !important;

                overflow: unset !important;
                scrollbar-width: none !important;

                &[collapsed] {
                    max-height: 36px !important;
                }

                &:not([collapsed]) {
                    max-height: 255px !important;
                    overflow: scroll !important;
                }

                & tab {
                    @media (-moz-pref("neo-features-tab-groups-tabs-centered")) {
                        margin: 2px 2px 0px 2px !important;
                    }
                    @media not (-moz-pref("neo-features-tab-groups-tabs-centered")) {
                        margin: 2px 2px 0px 8px !important;
                    }
                    
                    transition: opacity 0.5s ease !important;
                }

                & .tab-group-label-container {
                    display: flex !important;
                    flex: 0 0 auto !important;
                    position: sticky !important;
                    top: 0 !important;
                    z-index: 9999 !important;

                    width: 100% !important;
                    flex: 0 0 auto !important;
                    z-index: 9999 !important;

                    height: 34px !important;
                    min-height: 34px !important;
                    max-height: 34px !important;

                    margin: 0px 0px 8px 0px !important;
                    padding: 0px 0px 0px 0px !important;
                }

                & .tab-group-label-container>label {
                    display: flex !important;
                    flex: 1 1 auto !important;
                    align-items: center !important;
                    position: relative !important;

                    width: 100% !important;
                    min-width: 0 !important;

                    height: 30px !important;
                    min-height: 30px !important;
                    max-height: 30px !important;
                    
                    padding-left: 33px !important;
                    
                    padding-top: 0px !important;
                    padding-bottom: 2px !important;
                    margin: 0px 0px 0px 0px !important;
                    text-align: center !important;
                }
            }

            /* Display tabs when tab group is collapsed */
            tab-group:not([split-view-group])[collapsed] tab {
                opacity: 0 !important;
                z-index: -1 !important;
            }

            /* Hide bar that shows to the side of the tabs */
            tab-group:not([split-view-group]) {
                .tabbrowser-tab::before {
                    display: none !important;
                }
            }

            /*HIDE A FUCKING PSEUDO ELEMENT THAT IS COMPLETELY USELESS*/
            tab-group:not([split-view-group]) .tab-group-label-container {
                #tabbrowser-tabs[orient="vertical"] tab-group:not([collapsed])>&::after {
                    width: var(--tab-group-line-thickness);
                    inset-block: unset !important;
                    inset-inline: unset !important;
                    border-start-start-radius: unset !important;
                    border-start-end-radius: unset !important;
                }
            }
        }
    }
}