@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-tab-groups-disabled")) {
        #navigator-toolbox[zen-sidebar-expanded="true"] {
            tab-group:not([split-view-group]) {
                & .tab-group-label-container>label::before {
                    left: 5.5px;
                }
            }

            tab-group:not([split-view-group])[collapsed]:hover {
                & .tab-group-label-container>label {
                    padding-left: 43px !important;
                    color: color-mix(in srgb, var(--tab-group-color) 70%, white) !important;
                }
            }

            @media (-moz-pref("neo-features-tab-groups-disabled")) {
                tab-group:not([split-view-group]) {
                    display: flex !important;
                    flex-direction: column !important;
                    position: relative !important;
                    margin: 5px 2px 5px 2px !important;
                    padding: 0px 0px 0px 0px !important;

                    &[collapsed] {
                        max-height: 36px !important;
                    }

                }

                /* Hide bar that shows to the side of the tabs */
                tab-group:not([split-view-group]) {
                    .tabbrowser-tab::before {
                        display: none !important;
                    }
                }

                tab-group:not([split-view-group]) {
                    & .tab-group-label-container {
                        margin: 0px 0px 8px 0px !important;
                        padding: 0px 0px 0px 0px !important;
                        height: 34px !important;
                        min-height: 34px !important;
                        max-height: 34px !important;
                    }

                    & .tab-group-label-container>label {
                        padding-left: 33px !important;
                        width: 100% !important;
                        min-width: 0 !important;

                        height: 30px !important;
                        min-height: 30px !important;
                        max-height: 30px !important;


                        padding-top: 3px !important;
                        padding-bottom: 0px !important;
                        margin: 0px 0px 0px 0px !important;
                    }
                }
            }
        }
    }
}