@media not (-moz-pref("neo-features-disabled")) {
  @media not (-moz-pref("neo-features-bottom-disabled")) {

    :root:not([zen-sidebar-expanded="true"]):not([animating-background="true"]):not([customizing=""]) {
      :not(:has(#zen-workspaces-button> .subviewbutton:only-child)) {
        @media not (-moz-bool-pref: "neo-features-workspace-button-hidden") {

          #zen-sidebar-foot-buttons:hover:not(:has(#zen-workspaces-button:hover)),
          #zen-sidebar-foot-buttons:has(toolbarbutton[open="true"]) {
            & #zen-workspaces-button {
              @media not (-moz-bool-pref: "neo-bottom-at-bottom") {
                top: calc((var(--Neo-Bottom-Height) + 11px) * -1) !important;
              }

              @media (-moz-bool-pref: "neo-bottom-at-bottom") {
                bottom: calc((var(--Neo-Bottom-Height) + 11px) * -1) !important;
              }

              transition: width 0.3s 0ms ease,
              height 0.3s 0ms ease,
              top 0.5s ease 0ms,
              bottom 0.5s ease 0ms,
              opacity 1s ease 0ms !important;
            }

            &::after {
              height: 5px !important;
              width: 40px !important;

              @media not (-moz-bool-pref: "neo-bottom-at-bottom") {
                top: var(--Neo-Bottom-Position-Aux-Open) !important;
              }

              @media (-moz-bool-pref: "neo-bottom-at-bottom") {
                bottom: var(--Neo-Bottom-Position-Aux-Open) !important;
              }

              transition: width 0.3s 0ms ease,
              height 0.3s 0ms ease,
              top 0.2s ease 0ms,
              bottom 0.2s ease 0ms,
              opacity 1s ease 0ms !important;
            }

            &>.toolbarbutton-1:not(#zen-workspaces-button),
            &>.toolbaritem-combined-buttons {
              opacity: 1 !important;
              pointer-events: all !important;
              transition: opacity 0.5s ease 0ms !important;
            }
          }
        }
      }
    }
  }
}