@import "Neo-Bottom-Position-Collapsed.css";
@import "Neo-Bottom-Transition-Collapsed.css";
@import "Neo-Bottom-Indicator-Collapsed.css";

@media not (-moz-pref("neo-features-disabled")) {
  @media not (-moz-pref("neo-features-bottom-disabled")) {
    :root:not([zen-sidebar-expanded="true"]) {

      #zen-sidebar-foot-buttons {
        display: flex !important;

        flex-direction: row !important;
        flex-wrap: wrap !important;
        white-space: nowrap !important;

        min-height: var(--Neo-Bottom-Height) !important;
        max-height: var(--Neo-Bottom-Height) !important;

        /*border: 1px solid red !important;*/

        transition: width 0.3s 100ms ease,
          height 0.3s 100ms ease,
          top 0.5s ease 100ms,
          bottom 0.5s ease 100ms,
          opacity 1s ease 100ms !important;
      }

      @media not (-moz-bool-pref: "neo-features-workspace-button-hidden") {
        &:not([customizing=""]) #zen-sidebar-foot-buttons:not(:has(#zen-workspaces-button> .subviewbutton:only-child)) {
          &>.toolbarbutton-1:not(#zen-workspaces-button),
          &>.toolbaritem-combined-buttons {
            justify-self: center !important;
            opacity: 0 !important;
            pointer-events: none !important;

            transition: opacity 0.5s ease 100ms,
              color 0.3s ease,
              fill 0.3s ease !important;
          }
        }
      }
    }
  }
}