/* Workspace button keyframes */

@keyframes iconExpand {
    0% {
        width: 18px;
    }

    100% {
        width: 22px;
    }
}

@keyframes iconSmallExpand {
    0% {
        width: 10px;
    }

    100% {
        width: 14px;
    }
}

@keyframes iconSmallCollapse {
    0% {
        width: 14px;
    }

    100% {
        width: 10px;
    }
}