/* ------------------- Close and Reset Button Styling ------------------- */

@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-tabs-disabled")) {
        @media not (-moz-pref("neo-theme-close-button-disabled")) {

            .zen-workspace-normal-tabs-section .tabbrowser-tab .tab-background::before,
            .zen-workspace-pinned-tabs-section .tabbrowser-tab .tab-background::before {
                display: flex !important;
                opacity: 0;
                content: "" !important;
                width: 100%;
                height: 100%;
                position: absolute !important;
                border-radius: 10px !important;
                border: 1px solid #e61c56 !important;
                background: #e61c56 !important;
                box-shadow: 0px 0px 9px #e61c56 !important;
                z-index: 3 !important;
            }

            .tab-close-button,
            .tab-reset-button {
                margin-right: 2px !important;
                padding: 3px 3px !important;
                height: 18px !important;
                width: 18px !important;
                border-radius: 20px !important;
            }

            .tab-close-button:hover,
            .tab-reset-button:hover {
                background: color-mix(in srgb, #e61c56 20%, transparent) !important;
            }

            :root:not([zen-sidebar-expanded="true"]) {

                .tab-close-button,
                .tab-reset-button {
                    left: -2px !important;
                    right: auto !important;
                    padding: 3px 3px !important;
                    height: 18px !important;
                    width: 18px !important;
                    border-radius: 20px !important;
                }
            }

            .tabbrowser-tab:has(.tab-close-button:hover, .tab-reset-button:hover) .tab-background::before {
                animation: half-borderTrail 3s infinite cubic-bezier(0.7, 0, 0.3, 1) forwards !important;
                clip-path: inset(0 0 0 0);
            }
        }
    }
}