/* Trying to remove the ugly indicators or maybe make them more visible and better */
@media not (-moz-pref("neo-theme-disabled")) {
  @media not (-moz-pref("neo-theme-tabs-overflow-indicators-disabled")) {
    zen-workspace {
      &>arrowscrollbox {
        margin-bottom: 3px !important;
      }
    }

    zen-workspace {
      &>arrowscrollbox {
        &[overflowing] {
          &::after {
            content: '';
            width: 20% !important;
            height: 4px !important;
            border-radius: 20px !important;
            pointer-events: none;
          }
        }
      }
    }

    zen-workspace {
      &>arrowscrollbox {
        &[overflowing] {
          &::before {
            content: '';
            width: 20% !important;
            height: 4px !important;
            border-radius: 20px !important;
            pointer-events: none;
          }
        }
      }
    }

    zen-workspace {
      &>arrowscrollbox::before {
        z-index: 9999 !important;
        top: 0.4% !important;
        left: auto !important;
        position: absolute !important;
        align-self: center !important;
        justify-self: center !important;
        background: var(--Neo-Glow-Color-3) !important;
        box-shadow: 0px 0px 4px var(--Neo-Glow-Color-3) !important;
        transition: opacity 0.3s ease !important;
      }
    }

    zen-workspace {
      &>arrowscrollbox::after {
        z-index: 9999 !important;
        top: auto !important;
        bottom: 0.4% !important;
        left: auto !important;
        position: absolute !important;
        align-self: center !important;
        justify-self: center !important;
        background: var(--Neo-Glow-Color-3) !important;
        box-shadow: 0px 0px 4px var(--Neo-Glow-Color-3) !important;
        transition: opacity 0.3s ease !important;
      }
    }

    zen-workspace {
      &>arrowscrollbox {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
    }
  }
}