@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-tabs-disabled")) {
        @media not (-moz-pref("neo-theme-tabs-newtab-button-disabled")) {
            :root[zen-sidebar-expanded="true"] {
                #tabs-newtab-button {
                    background: var(--Neo-Black-1) !important;
                    border-radius: var(--Neo-Border-Radius) !important;
                    box-shadow: 0px 0px 0px var(--Neo-Glow-Color-3) !important;
                    border: 1px solid color-mix(in srgb, var(--zen-primary-color) 70%, transparent) !important;
                    transition: opacity 0.3s ease, box-shadow 0.3s ease !important;
                    margin: 10px 1px !important;
                    justify-content: center !important;

                    & .toolbarbutton-text {
                        padding: 0px 10px 0px 10px !important;
                    }

                    & .toolbarbutton-text::before {
                        justify-self: center !important;
                        align-self: center !important;
                        display: flex !important;
                        left: auto !important;
                        right: auto !important;
                        transition: margin-left 0.3s !important;
                    }

                    & .toolbarbutton-icon {
                        transition: scale 0.3s ease !important;
                    }
                }

                #tabs-newtab-button:hover {
                    opacity: 1.0 !important;
                    box-shadow: 0px 0px 4px var(--Neo-Glow-Color-3) !important;

                    & .toolbarbutton-text::before {
                        margin-left: 8px !important;
                    }

                    & .toolbarbutton-icon {
                        scale: 1.2 !important;
                    }
                }
            }

            :root:not([zen-sidebar-expanded="true"]) {
                #tabs-newtab-button {
                    margin: 10px auto !important;
                    justify-self: center !important;
                    background: var(--Neo-Black-1) !important;
                    border-radius: var(--Neo-Border-Radius) !important;
                    box-shadow: 0px 0px 0px var(--Neo-Glow-Color-3) !important;
                    border: 1px solid color-mix(in srgb, var(--zen-primary-color) 70%, transparent) !important;
                    transition: opacity 0.3s ease, box-shadow 0.3s ease !important;
                    box-sizing: unset !important;
                    width: calc(var(--tab-min-height) - 0.5px) !important;
                    min-height: calc(var(--tab-min-height) - 2px) !important;
                    max-height: calc(var(--tab-min-height) - 2px) !important;

                    & .toolbarbutton-icon {
                        background: none !important;
                        transition: scale 0.5s ease !important;
                    }
                }

                #tabs-newtab-button:hover {
                    opacity: 1.0 !important;
                    box-shadow: 0px 0px 4px var(--Neo-Glow-Color-3) !important;

                    & .toolbarbutton-text::before {
                        margin-left: 8px !important;
                    }

                    & .toolbarbutton-icon {
                        scale: 1.5 !important;
                    }
                }
            }
        }
    }
}