@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-tabs-disabled")) {
        @media not (-moz-pref("neo-theme-tabs-essentials-disabled")) {
            .zen-essentials-container .tabbrowser-tab {
                .tab-background {
                    background: var(--Neo-Black-1) !important;
                    box-shadow: 0px 0px 3px var(--Neo-Shadow-Color-1) !important;
                    border-radius: calc(var(--Neo-Border-Radius) + 1px) !important;
                    backdrop-filter: blur(10px) !important;
                    transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease !important;
                }

                &:hover .tab-background {
                    background: var(--Neo-Black-2) !important;
                    box-shadow: 0px 0px 4px var(--Neo-Glow-Color-3) !important;
                }

                &[visuallyselected] .tab-background {
                    box-shadow: 0px 0px 6px color-mix(in srgb, white 20%, transparent) !important;

                    &::before {
                        mask-image: none !important;
                        border-radius: var(--Neo-Border-Radius) !important;
                        background-color: var(--Neo-Black-3) !important;
                        box-shadow: 0px 0px 10px color-mix(in srgb, white 30%, transparent) !important;
                        transition: background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
                    }
                }
            }
        }
    }
}