@media not (-moz-pref("neo-features-disabled")) {
  @media not (-moz-pref("neo-features-split-groups-disabled")) {
    :root[zen-sidebar-expanded="true"] {
      &[zen-compact-mode="true"]{
        tab-group[split-view-group] {
          @media not (-moz-pref("neo-features-split-groups-expanded")) {
            @media (-moz-pref("neo-features-split-groups-expanded-compact")) {
              max-height: 154px !important;
              margin: 10px 2px !important;
            }
          }
        }
      }
      tab-group[split-view-group] {
        display: flex !important;
        flex-direction: column !important;

        background: color-mix(in srgb, var(--zen-primary-color) 20%, #00000030) !important;
        border-radius: calc(var(--Neo-Border-Radius) + 1px) !important;
        box-shadow: 0px 0px 0px transparent !important;
        border: 1px solid color-mix(in srgb, var(--zen-primary-color) 40%, #00000050) !important;

        height: fit-content !important;
        max-height: 45px !important;
        margin: 5px 2px !important;
        
        @media (-moz-pref("neo-features-split-groups-expanded")) {
            max-height: 154px !important;
            margin: 10px 2px !important;
        }
        
        overflow-y: hidden !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        

        transition: box-shadow 0.3s ease 100ms,
          scale 0.5s ease 100ms,
          background 0.5s ease 100ms,
          border 0.5s ease 100ms,
          height 0.5s ease 100ms,
          max-height 0.5s ease 100ms,
          min-height 0.4s ease 100ms,
          padding 0.5s ease,
          display 0.5s 100ms !important;

        &>.tabbrowser-tab {
          &:not(:last-child)::after {
            display: none !important;
          }
        }

        &:has(> tab:is([visuallyselected], [multiselected])) {
          background: color-mix(in srgb, var(--zen-primary-color) 40%, #00000050) !important;

          & .tabbrowser-tab:not([zen-glance-tab]):not([visuallyselected]),
          .tabbrowser-tab:not([zen-glance-tab]):not([multiselected]) {
            & .tab-background {
              background: transparent !important;
            }
          }

          & .tabbrowser-tab:not([zen-glance-tab])[visuallyselected] {
            order: -1 !important;
          }
        }

        &:hover {
          max-height: 154px !important;

          border: 1px solid var(--Neo-Glow-Color-1) !important;
          box-shadow: 0px 0px 4px var(--Neo-Glow-Color-1) !important;
          background: var(--Neo-Blur-Color) !important;



          & .tabbrowser-tab:not([zen-glance-tab]) {
            width: 96% !important;
            padding-left: 30px !important;

            &::before {
              opacity: 1;
              transform: translate(0, -50%) scale(1);
              transition: transform 0.4s cubic-bezier(0.175, 0.685, 0.52, 1),
                opacity 0.5s ease-out !important;
            }
          }
        }

        & .tabbrowser-tab:not([zen-glance-tab]) {}

        & .tabbrowser-tab:not([zen-glance-tab]) {

          min-height: 35px !important;
          max-height: 35px !important;

          transition: transform 0.0s cubic-bezier(0.175, 0.685, 0.52, 1) 40ms,
            opacity 0.5s ease-out 40ms,
            width 0.5s ease 50ms,
            padding-left 0.5s ease 50ms !important;

          &::before {
            content: '';
            width: 24px;
            height: 24px;
            border-radius: 6px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjI1IDhDNS4yNSA2LjQ4MTIyIDYuNDgxMjIgNS4yNSA4IDUuMjVIMTZDMTcuNTE4OCA1LjI1IDE4Ljc1IDYuNDgxMjIgMTguNzUgOFYxNkMxOC43NSAxNy41MTg4IDE3LjUxODggMTguNzUgMTYgMTguNzVIOEM2LjQ4MTIyIDE4Ljc1IDUuMjUgMTcuNTE4OCA1LjI1IDE2VjhaTTEyLjc1IDE3LjI1SDE2QzE2LjY5MDQgMTcuMjUgMTcuMjUgMTYuNjkwNCAxNy4yNSAxNlY4QzE3LjI1IDcuMzA5NjQgMTYuNjkwNCA2Ljc1IDE2IDYuNzVIMTIuNzVWMTcuMjVaTTExLjI1IDYuNzVWMTcuMjVIOEM3LjMwOTY0IDE3LjI1IDYuNzUgMTYuNjkwNCA2Ljc1IDE2VjhDNi43NSA3LjMwOTY0IDcuMzA5NjQgNi43NSA4IDYuNzVIMTEuMjVaIiBmaWxsPSJibGFjayIgZmlsbC1vcGFjaXR5PSIwLjQiLz4KPC9zdmc+Cg==') !important;
            background-color: light-dark(rgba(0, 0, 0, 0.1),
                rgba(255, 255, 255, 0.7));
            transform: translate(150%, -50%) scale(0);
            opacity: 0;
            position: absolute;
            left: 0px;
            top: 50%;
            transition: transform 0.0s cubic-bezier(0.175, 0.685, 0.52, 1) 40ms,
              opacity 0.5s ease-out 40ms,
              width 0.5s ease 50ms,
              padding-left 0.5s ease 50ms !important;
          }
        }
      }
    }
  }
}