@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-split-groups-disabled")) {
        :root:not([zen-sidebar-expanded="true"]) {
            &[zen-compact-mode="true"]{
                tab-group[split-view-group] {
                    @media (-moz-pref("neo-features-split-groups-expanded-compact")) {
                        @media (-moz-pref("neo-features-split-groups-expanded")) {
                            max-height: 190px !important;
                            scale: 1 !important;
                            margin: 10px 2px !important;
                        }
                    }
                }
            }
                
            tab-group[split-view-group] {

                position: relative !important;
                display: flex !important;
                flex-direction: column !important;
                width: auto !important;
                margin: 0px 0px !important;


                background: transparent !important;
                border-radius: calc(var(--Neo-Border-Radius) + 1px) !important;
                box-shadow: 0px 0px 0px transparent !important;
                border: 1px solid color-mix(in srgb, var(--zen-primary-color) 40%, #00000050) !important;

                height: max-content !important;

                overflow-y: hidden !important;
                scrollbar-width: none !important;

                padding-top: 3px !important;
                padding-bottom: 4px !important;
                
                max-height: 50px !important;
                scale: 0.8 !important;
                
                @media (-moz-pref("neo-features-split-groups-expanded")) {
                    max-height: 190px !important;
                    scale: 1 !important;
                    margin: 10px 2px !important;
                }

                transition: box-shadow 0.3s ease 100ms,
                    scale 0.5s ease 100ms,
                    background 0.5s ease 100ms,
                    border 0.5s ease 100ms,
                    height 0.5s ease 100ms,
                    max-height 0.5s ease 100ms,
                    min-height 0.5s ease 100ms,
                    padding 0.5s ease !important;


                &:hover {
                    overflow-y: auto !important;
                    max-height: 190px !important;
                    box-shadow: 0px 0px 4px var(--Neo-Glow-Color-1) !important;
                    background: var(--Neo-Blur-Color) !important;
                    scale: 1.0 !important;
                    border: 1px solid var(--Neo-Glow-Color-1) !important;

                }

                &:has(> tab:is([visuallyselected], [multiselected])) {
                    background: color-mix(in srgb, var(--zen-primary-color) 20%, #00000050) !important;

                    & .tabbrowser-tab:not([zen-glance-tab]):not([visuallyselected]),
                    .tabbrowser-tab:not([zen-glance-tab]):not([multiselected]) {
                        & .tab-background {
                            background: transparent !important;
                        }
                    }
                }

                & .tabbrowser-tab:not([zen-glance-tab])[visuallyselected] {
                    order: -1 !important;
                    min-height: 42px !important;
                    height: 38px !important;
                    max-height: 38px !important;
                }
            }

            tab-group[split-view-group]::before {
                content: '';
                width: 32px;
                height: 32px;
                min-width: 35px !important;
                min-height: 35px !important;
                border-radius: 6px;
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjI1IDhDNS4yNSA2LjQ4MTIyIDYuNDgxMjIgNS4yNSA4IDUuMjVIMTZDMTcuNTE4OCA1LjI1IDE4Ljc1IDYuNDgxMjIgMTguNzUgOFYxNkMxOC43NSAxNy41MTg4IDE3LjUxODggMTguNzUgMTYgMTguNzVIOEM2LjQ4MTIyIDE4Ljc1IDUuMjUgMTcuNTE4OCA1LjI1IDE2VjhaTTEyLjc1IDE3LjI1SDE2QzE2LjY5MDQgMTcuMjUgMTcuMjUgMTYuNjkwNCAxNy4yNSAxNlY4QzE3LjI1IDcuMzA5NjQgMTYuNjkwNCA2Ljc1IDE2IDYuNzVIMTIuNzVWMTcuMjVaTTExLjI1IDYuNzVWMTcuMjVIOEM3LjMwOTY0IDE3LjI1IDYuNzUgMTYuNjkwNCA2Ljc1IDE2VjhDNi43NSA3LjMwOTY0IDcuMzA5NjQgNi43NSA4IDYuNzVIMTEuMjVaIiBmaWxsPSJibGFjayIgZmlsbC1vcGFjaXR5PSIwLjQiLz4KPC9zdmc+Cg==') !important;
                background-color: transparent;
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-size: contain !important;
                position: relative !important;
                color: white !important;
                top: 0% !important;
                left: 0% !important;
                margin: 2px 2px !important;
                filter: invert(1) drop-shadow(0px 0px 3px var(--zen-primary-color)) brightness(2) !important;


                opacity: 1.0 !important;
                transition-delay: 0.1s;
                transition: opacity 0.4s ease-in-out;
            }

            tab-group[split-view-group]:not(:has(.tabbrowser-tab[selected])) {
                &:not(:hover)::before {
                    opacity: 1.0 !important;
                    visibility: visible !important;
                    display: block !important;
                    order: -1 !important;
                }
            }

            tab-group[split-view-group]:has(.tabbrowser-tab[selected])::before {
                opacity: 0 !important;
                visibility: hidden !important;
                display: none !important;
            }
        }
    }
}