@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-bool-pref: "neo-features-workspace-disabled") {
        @media not (-moz-bool-pref: "neo-features-workspace-button-hidden") {
            @media (-moz-bool-pref: "neo-features-workspace-halo-mode-disabled") or (-moz-bool-pref: "neo-features-workspace-halo-mode-collapsed-disabled") {
                :root:not([zen-sidebar-expanded="true"]) {
                    #zen-workspaces-button {

                        flex-direction: row !important;
                        flex-wrap: wrap !important;
                        white-space: nowrap !important;
                        padding-top: 10px !important;
                        padding-bottom: 10px !important;

                        /*border: 1px solid blue !important;*/

                        overflow-x: unset !important;
                        overflow-y: auto !important;

                        & .subviewbutton {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}