@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-sidebar-disabled")) {

        :root body:has([zen-compact-mode="true"]) {
            #navigator-toolbox:not([animate='true']) #titlebar::before {
                border: 0px solid transparent !important;
                outline: none !important;
            }

            #navigator-toolbox:not([animate='true']) #titlebar::after {
                border: 0px solid transparent !important;
                outline: none !important;
            }
        }

        @media (-moz-pref("zen.view.compact.hide-tabbar")) {

            /* Blur for compact mode */
            body:has([zen-compact-mode="true"]) #titlebar {
                border: 0px solid transparent !important;
                outline: none !important;
                border-radius: calc(var(--Neo-Border-Radius) + 2px) !important;

                background: var(--Neo-Blur-Color) !important;
                backdrop-filter: var(--Neo-Blur) !important;
                box-shadow: 0px 0px 5px var(--Neo-Shadow-Color-3) !important;
                opacity: 1.0 !important;
            }
        }

        :root[zen-single-toolbar="true"] {

            /* Blur for compact mode */
            body:has([zen-compact-mode="true"]) #titlebar {
                border: 0px solid transparent !important;
                outline: none !important;
                border-radius: calc(var(--Neo-Border-Radius) + 2px) !important;

                background: var(--Neo-Blur-Color) !important;
                backdrop-filter: var(--Neo-Blur) !important;
                box-shadow: 0px 0px 5px var(--Neo-Shadow-Color-3) !important;
                opacity: 1.0 !important;
            }
        }
    }
}