@media not (-moz-pref("neo-theme-disabled")) {

    /* Tab container indicator line adjustments for expanded mode */
    @media not (-moz-pref("neo-theme-tabs-containers-disabled")) {
        :root[zen-sidebar-expanded="true"] {
            .tabbrowser-tab[usercontextid]:not([zen-essential="true"]) {
                & .tab-background {
                    & .tab-context-line {
                        margin: 29px 2px 2px 7px !important;
                        width: 18px !important;
                        height: 3px !important;

                    }
                }
            }

            &:not([animating-background="true"]) .tabbrowser-tab[usercontextid]:not([zen-essential="true"]) {
                &:hover[usercontextid]:not([selected]) {
                    .tab-context-line {
                        width: 40% !important;
                    }
                }

                &[selected][usercontextid] {
                    .tab-context-line {
                        width: 60% !important;
                    }
                }

                &:hover[usercontextid][selected] {
                    .tab-context-line {
                        width: 75% !important;
                    }
                }
            }
        }
    }

    /* Tab container indicator line adjustments for collapsed mode */
    @media not (-moz-pref("neo-theme-tabs-containers-disabled")) {
        :root:not([zen-sidebar-expanded="true"]) {
            .tabbrowser-tab[usercontextid]:not([zen-essential="true"]) {
                & .tab-background {
                    align-content: center !important;
                    justify-content: center !important;
                    padding: 0px 0px 0px 0px !important;

                    & .tab-context-line {
                        margin: 27px 0px 2px 0px !important;
                        width: 3px !important;
                        height: 3px !important;
                        transition: width 0.3s ease;
                    }
                }
            }

            &:not([animating-background="true"]) {
                .tabbrowser-tab[usercontextid]:not([zen-essential="true"]) {
                    &:hover[usercontextid]:not([selected]) {
                        .tab-context-line {
                            width: 40% !important;
                        }
                    }

                    &[selected][usercontextid] {
                        .tab-context-line {
                            width: 60% !important;
                        }
                    }

                    &:hover[usercontextid][selected] {
                        .tab-context-line {
                            width: 75% !important;
                        }
                    }
                }
            }
        }
    }
}