@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-tabs-containers-disabled")) {

        /* Tab gradient color container transition */
        .tabbrowser-tab[usercontextid]:not([selected]):not([zen-essential="true"]) .tab-background::after {
            opacity: 0.0;
            transition: opacity 0.9s ease;
        }

        .tabbrowser-tab[usercontextid][selected]:not([zen-essential="true"]) .tab-background::after {
            opacity: 0.25;
            background: radial-gradient(color-mix(in srgb, var(--identity-tab-color) 40%, white) 20%, color-mix(in srgb, var(--identity-tab-color) 70%, white) 100%) !important;
            transition: opacity 0.9s ease;
        }
    }
}