@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-tabs-containers-disabled")) {
        @media not (-moz-pref("neo-theme-tabs-containers-essentials-disabled")) {
            :root[zen-sidebar-expanded="true"] {

                /* Tab container indicator line adjustments for essentials in expanded mode */
                .zen-essentials-container.zen-workspace-tabs-section {
                    & .tabbrowser-tab[usercontextid] {
                        & .tab-background {
                            justify-content: center !important;
                            align-content: center !important;

                            & .tab-context-line {
                                z-index: 9 !important;
                                margin: 25px 0px 0px 0px !important;
                                width: 18px !important;
                                height: 3px !important;
                                align-self: center !important;
                                transition: width 0.5s ease !important;
                            }
                        }
                    }
                }
            }

            :root[zen-sidebar-expanded="true"]:not([animating-background="true"]) {
                .zen-essentials-container.zen-workspace-tabs-section:not([hidden="true"]) {
                    & .tabbrowser-tab[usercontextid] {
                        &:hover[usercontextid]:not([selected]) {
                            & .tab-context-line {
                                width: 50% !important;
                            }
                        }

                        &[selected][usercontextid] {
                            & .tab-context-line {
                                width: 60% !important;
                            }
                        }

                        &:hover[usercontextid][selected] {
                            & .tab-context-line {
                                width: 75% !important;
                            }
                        }
                    }
                }
            }

            /* Tab container indicator line adjustments for essentials in collapsed mode */
            :root:not([zen-sidebar-expanded="true"]) {
                .zen-essentials-container .tabbrowser-tab[usercontextid] {
                    & .tab-background {
                        justify-content: center !important;
                        align-content: center !important;

                        & .tab-context-line {
                            z-index: 999 !important;
                            margin: 20px 0px 0px 0px !important;
                            width: 3px !important;
                            height: 3px !important;
                            align-self: center !important;
                        }
                    }
                }
            }

            :root:not([zen-sidebar-expanded="true"]):not([animating-background="true"]) {

                .zen-essentials-container .tabbrowser-tab[usercontextid] {

                    &:hover[usercontextid]:not([selected]) {
                        .tab-context-line {
                            width: 30% !important;
                        }
                    }

                    &[selected][usercontextid] {
                        .tab-context-line {
                            width: 40% !important;
                        }
                    }

                    &:hover[usercontextid][selected] {
                        .tab-context-line {
                            width: 65% !important;
                        }
                    }
                }
            }


            @media (-moz-pref("neo-theme-tabs-containers-essentials-disabled")) {
                .zen-essentials-container .tabbrowser-tab[usercontextid] {
                    & .tab-background {
                        & .tab-context-line {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}