/* Neo Zen V1.9.1*/

/* Hi, I'm Neo Zen, I'm a theme that has new "features", animations, and a new design, I hope you like it, and I hope you find it useful. */

/* Please considering that Zen browser is still in development, after an update please check if the issue you are experencing is due to a native browser issue. 
   If it is due to a native browser issue please report it to the developer of Zen browser.
   If the issue only appears when using Neo Zen please report it to the developer of Neo Zen.*/

/* As I stole the animations tabs from nebula, I mean... added the animations [I asked to do it], yes, you can do the same with this theme, you can take any part of the code
   and add it to your own theme. For example, to add the features withouth the style of the theme, you can add the entire folder called Features to your own theme, just
   take a look at the variables folder and animations folder, those ones are required for some features to work.*/

/* Starting from version 2.0, the original pseudobackground implementation for compact mode has been replaced 
   with a new version that no longer uses the Nebula base. This change affects the CSS structure of Neo Zen 
   across multiple modes.

   If you’re not a fan of the new design, you can disable it via Zen’s advanced options in about:config.

   However, keeping it enabled is recommended, as the new Neo-Sidebar and Neo Toolbar features resolve native browser issues. */

/* Otherwise, I don't know what I'm doing too :D so please tell me if I did something wrong, if you have any suggestions to improve the theme, please let me know,
  I'm always open to suggestions and feedback. */

/* Neo Zen V1.9.3*/


@import "Variables/Variables.css";
@import "Neo-Features/Neo-Features.css";
@import "Theme/Theme.css";
@import "Animations/Animations.css";

/* Required for blur rendering */
browser {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


/*Fix width and height of the tabs when the sidebar is in collapsed mode*/
/*DO NOT DELETE OR MODIFY UNLESS YOU KNOW WHAT YOU ARE DOING*/
/*AND NO YOU DON'T NEED YOUR TABS WIDDER, IS NOT A BUG IS A FEATURE*/
/*ENJOY THE NEW NEO ZEN THEME :D 1.9.3*/






































































































/*DID YOU MODIFIED IT? NO? OH So Everything will be okay*/

































































































/*DONT*/






























/* Please don't touch this */
































































































































/* I'm tellign you to don't*/





















































































/* Are you okay? */






















































































































































































































































































/* You have serious problems if you are reading this */




















































































































































































































































































/* There is no person who can help you */












































































/* Hopefully your ice cream will fall through the floor */




































































































































































/* Okay, if you are going to modify this then consider that this can break something
   in your theme, so, be careful, i won't be able to fix it and is your responsibility */
:root{
  --tab-collapsed-background-width: 40px !important;
}

@media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
  :root {
    --tab-min-height: 39px !important;
  }
}













































































































































































































































































































































































/*He he he there is nothing to see here*/