@media not (-moz-pref("neo-theme-disabled")) {
  @media not (-moz-pref("neo-hide-workspace-indicator")) {
    @media not (-moz-pref("neo-theme-workspace-indicator-disabled")) {
      :root[zen-sidebar-expanded="true"] zen-workspace {
        & .zen-current-workspace-indicator {
          opacity: 1 !important;
          filter: drop-shadow(0px 0px 15px var(--zen-primary-color)) brightness(1) !important;
          padding: 4px !important;
          width: 99% !important;
          justify-content: center !important;
          margin-bottom: 10px !important;

          & .zen-current-workspace-indicator-icon {
            display: none !important;
          }

          & #tab-label-input {
            text-align: center !important;
            text-justify: center !important;
            margin: auto !important;
            width: 80% !important;
          }

          & .zen-current-workspace-indicator-name {
            text-align: center !important;
            min-width: 50% !important;
            max-width: 50% !important;
            margin-left: 24.8% !important;
            margin-right: auto !important;

            opacity: 1 !important;

            font-weight: 600 !important;
            font-size: 13px !important;

            color: color-mix(in srgb, var(--Neo-Glow-Color-3) 100%, white) !important;

            filter: drop-shadow(0px 0px 5px var(--zen-primary-color)) brightness(1) !important;
          }

          & .zen-workspaces-actions {
            visibility: visible !important;
            fill: color-mix(in srgb, var(--Neo-Glow-Color-3) 90%, transparent) !important;

            & .toolbarbutton-icon {
              background: transparent !important;
              transition: background 0.5s ease !important;
            }
          }

          &::before {
            background: color-mix(in srgb, var(--Neo-Glow-Color-3) 90%, transparent) !important;
            box-shadow: 0px 0px 12px color-mix(in srgb, var(--Neo-Glow-Color-3) 90%, transparent) !important;
            position: absolute !important;
            border-radius: 20px !important;

            left: auto !important;
            right: auto !important;
            height: 3px !important;
            top: auto !important;
            bottom: 1% !important;
            width: 0% !important;
          }
        }
      }

      :root:not([animating-background="true"])[zen-sidebar-expanded="true"] zen-workspace {
        &[active] {
          & .zen-current-workspace-indicator {
            &::before {
              width: 65% !important;
              transition: width 0.6s ease, opacity 0.5s ease !important;
            }

            &:hover {
              &::before {
                width: 80% !important;
                transition: width 0.3s ease !important;
              }
            }
          }
        }
      }
    }
  }


  @media not (-moz-pref("neo-hide-workspace-indicator")) {
    @media not (-moz-pref("neo-theme-workspace-indicator-disabled")) {
      :root:not([zen-sidebar-expanded="true"]) zen-workspace {
        & .zen-current-workspace-indicator {
          display: flex;
          align-self: center !important;
          justify-self: center !important;
          justify-content: center !important;

          border: 4px solid var(--Neo-Glow-Color-3) !important;
          opacity: 1.0 !important;
          box-shadow: 0px 0px 6px color-mix(in srgb, var(--Neo-Glow-Color-3) 0%, transparent) !important;
          filter: drop-shadow(0px 0px 3px var(--zen-primary-color)) brightness(0.9) !important;


          height: 34px !important;
          min-height: 34px !important;
          max-height: 34px !important;
          width: 34px !important;
          border-radius: 20px !important;
          position: relative !important;
          padding: 0px 0px !important;
          margin: 1px 4px 10px 4px !important;

          transition: box-shadow 0.3s linear, filter 0.3s linear !important;

          &::before {
            display: none !important;
          }

          &:hover {
            filter: drop-shadow(0px 0px 5px var(--zen-primary-color)) brightness(1) !important;
            box-shadow: 0px 0px 6px color-mix(in srgb, var(--Neo-Glow-Color-3) 100%, transparent) !important;
          }

          & .zen-current-workspace-indicator-icon {
            margin-left: 1px !important;
            margin-bottom: 3px !important;
            display: flex !important;
          }

          & .zen-workspaces-actions {
            display: flex !important;
            position: absolute !important;
            left: auto !important;
            right: auto !important;
            top: auto !important;
            bottom: auto !important;
            margin: 0px 0px !important;
            z-index: 10 !important;
            opacity: 0.0 !important;
            min-height: 34px !important;
            min-width: 34px !important;
          }
        }
      }
    }
  }

  @media (-moz-pref("neo-hide-workspace-indicator")) {
    .zen-current-workspace-indicator {
      display: none !important;
    }
  }
}