@import "Collapsed/Neo-Bottom-Collapsed.css";
@import "Expanded/Neo-Bottom-Expanded.css";
@import "Neo-Bottom-Transition.css";

@import "Neo-Bottom-Workspace.css";

@media not (-moz-pref("neo-features-disabled")) {
  /* Bottom area general adjustments */
  @media not (-moz-pref("neo-features-bottom-disabled")) {
    #zen-sidebar-foot-buttons {
      overflow-y: auto !important;
      scrollbar-width: none !important;
      scroll-behavior: smooth !important;

      justify-content: center !important;
    }

    /* Keep Sidebar Expanded When Customization is Active */
    body:has(#customization-container:not([hidden])) #zen-sidebar-foot-buttons {
      height: auto !important;
    }

    body:has(#customization-container:not([hidden])) {
      #zen-sidebar-foot-buttons>*:not(#zen-workspaces-button) {
        opacity: 1 !important;
        pointer-events: all !important;
      }
    }
  }

  /* Adjustments to remove the top-buttons area in collapsed mode */
  :root:not([zen-single-toolbar="true"]) {
    &[zen-sidebar-expanded="true"] #zen-sidebar-top-buttons {
      min-height: var(--zen-toolbar-height) !important;
      height: var(--zen-toolbar-height) !important;
      max-height: var(--zen-toolbar-height) !important;
    }

    &:not([zen-sidebar-expanded="true"]) #zen-sidebar-top-buttons {
      min-height: 0px !important;
      height: 0px !important;
      max-height: 0px !important;
    }
  }
}