@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-bottom-disabled")) {
        :root[zen-sidebar-expanded="true"]:not([customizing=""]) {
            #zen-sidebar-foot-buttons {
                &:has(#zen-workspaces-button:only-child) {
                    @media (-moz-pref("neo-features-workspace-button-hidden")) {
                        display: none !important;
                    }
                }

                &:has(#zen-workspaces-button:only-child):has(#zen-workspaces-button> .subviewbutton:only-child) {
                    display: none !important;
                }


                @media not (-moz-pref("neo-features-bottom-at-bottom")) {
                    order: -1 !important;
                }

                margin-top: var(--Neo-Bottom-Margin-Top) !important;
                margin-bottom: var(--Neo-Bottom-Margin-Bottom) !important;
            }
        }
    }
}

:root[zen-sidebar-expanded="true"] {
    --Neo-Bottom-Height-Expanded: 98px;
    --Neo-Bottom-Height-Collapsed: 50px;
    --Neo-Bottom-Height-Aux: 0px;
    --Neo-Bottom-Margin-Top: 0px;
    --Neo-Bottom-Margin-Bottom: 0px;

    #navigator-toolbox {
        @media not (-moz-pref("neo-features-disabled")) {
            @media not (-moz-pref("neo-features-bottom-disabled")) {
                &:not(:has(#zen-workspaces-button> .subviewbutton:only-child)):not(:has(#zen-sidebar-foot-buttons #zen-workspaces-button:only-child)) {
                    @media (-moz-pref("neo-features-bottom-at-bottom")) {
                        --Neo-Bottom-Margin-Top: 5px;
                        --Neo-Bottom-Margin-Bottom: 0px;
                    }

                    @media not (-moz-pref("neo-features-bottom-at-bottom")) {
                        --Neo-Bottom-Margin-Top: 5px;
                        --Neo-Bottom-Margin-Bottom: 5px;
                    }
                }

                &:not(:has(#zen-workspaces-button>.subviewbutton:only-child)):has(#zen-sidebar-foot-buttons #zen-workspaces-button:only-child) {
                    @media not (-moz-pref("neo-features-workspace-button-hidden")) {
                        @media (-moz-pref("neo-features-bottom-at-bottom")) {
                            --Neo-Bottom-Margin-Top: 5px;
                            --Neo-Bottom-Margin-Bottom: 0px;
                        }

                        @media not (-moz-pref("neo-features-bottom-at-bottom")) {
                            --Neo-Bottom-Margin-Top: 5px;
                            --Neo-Bottom-Margin-Bottom: 5px;
                        }
                    }
                }

                &:has(#zen-workspaces-button>.subviewbutton:only-child):not(:has(#zen-sidebar-foot-buttons #zen-workspaces-button:only-child)) {
                    @media not (-moz-pref("neo-features-workspace-button-hidden")) {
                        @media (-moz-pref("neo-features-bottom-at-bottom")) {
                            --Neo-Bottom-Margin-Top: 5px;
                            --Neo-Bottom-Margin-Bottom: 0px;
                        }

                        @media not (-moz-pref("neo-features-bottom-at-bottom")) {
                            --Neo-Bottom-Margin-Top: 5px;
                            --Neo-Bottom-Margin-Bottom: 5px;
                        }
                    }
                }
            }
        }
    }

    #navigator-toolbox {
        @media not (-moz-pref("neo-features-disabled")) {
            @media not (-moz-pref("neo-features-bottom-disabled")) {
                &:not(:has(#zen-workspaces-button>.subviewbutton:only-child)):not(:has(#zen-sidebar-foot-buttons #zen-workspaces-button:only-child)) {
                    @media not (-moz-pref("neo-features-workspace-button-hidden")) {
                        --Neo-Bottom-Height-Aux: var(--Neo-Bottom-Height-Collapsed);
                    }

                    @media (-moz-bool-pref: "neo-features-workspace-button-hidden") or (-moz-bool-pref: "neo-features-bottom-keep-expanded") {
                        --Neo-Bottom-Height-Aux: var(--Neo-Bottom-Height-Expanded);
                    }
                }

                &:not(:has(#zen-workspaces-button>.subviewbutton:only-child)):has(#zen-sidebar-foot-buttons #zen-workspaces-button:only-child) {
                    @media not (-moz-pref("neo-features-workspace-button-hidden")) {
                        --Neo-Bottom-Height-Aux: var(--Neo-Bottom-Height-Collapsed);
                    }
                }

                &:has(#zen-workspaces-button>.subviewbutton:only-child):not(:has(#zen-sidebar-foot-buttons #zen-workspaces-button:only-child)) {
                    --Neo-Bottom-Height-Aux: var(--Neo-Bottom-Height-Collapsed);
                }
            }
        }

        @media (-moz-bool-pref: "neo-features-bottom-disabled") {
            --Neo-Bottom-Height-Aux: 18.5px;

            &:not(:has(#zen-workspaces-button>.subviewbutton:only-child)):not(:has(#zen-sidebar-foot-buttons #zen-workspaces-button:only-child)) {
                --Neo-Bottom-Height-Aux: 33px;
            }
            @media not (-moz-pref("neo-features-workspace-button-hidden")) {
                &:not(:has(#zen-workspaces-button>.subviewbutton:only-child)):has(#zen-sidebar-foot-buttons #zen-workspaces-button:only-child) {
                    --Neo-Bottom-Height-Aux: 33px;
                }
            }

            &:has(#zen-workspaces-button>.subviewbutton:only-child):not(:has(#zen-sidebar-foot-buttons #zen-workspaces-button:only-child)) {
                --Neo-Bottom-Height-Aux: 33px;
            }
        }
    }
}