@import "Neo-Bottom-Position-Expanded.css";
@import "Neo-Bottom-Transition-Expanded.css";
@import "Neo-Bottom-Indicator-Expanded.css";

@media not (-moz-pref("neo-features-disabled")) {
    @media not (-moz-pref("neo-features-bottom-disabled")) {
        :root[zen-sidebar-expanded="true"] {
            #zen-sidebar-foot-buttons {
                display: grid !important;
                position: relative !important;

                grid-auto-rows: auto !important;
                grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)) !important;
                gap: auto !important;

                padding-top: 0px !important;

                height: var(--Neo-Bottom-Height-Aux);

                transition: height 0.3s 100ms ease,
                    top 0.5s ease 100ms,
                    bottom 0.5s ease 100ms,
                    opacity 0.5s ease 100ms !important;

                @media not (-moz-bool-pref: "neo-features-workspace-button-hidden") {
                    @media not (-moz-bool-pref: "neo-features-bottom-keep-expanded") {
                        &:not([customizing=""]):not(:has(#zen-workspaces-button> .subviewbutton:only-child)) {

                            &>.toolbarbutton-1:not(#zen-workspaces-button),
                            &>.toolbaritem-combined-buttons {
                                justify-self: center !important;
                                opacity: 0 !important;
                                pointer-events: none !important;

                                transition: opacity 0.5s ease 100ms,
                                    color 0.3s ease,
                                    fill 0.3s ease !important;
                            }
                        }
                    }
                }
            }
        }
    }
}