@media not (-moz-pref("neo-features-disabled")) {
  @media not (-moz-pref("neo-features-bottom-disabled")) {
    :root[zen-sidebar-expanded="true"]:not([animating-background="true"]):not([customizing=""]) {
      @media not (-moz-bool-pref: "neo-features-workspace-button-hidden") {
        #navigator-toolbox:not(:has(#zen-workspaces-button> .subviewbutton:only-child)):not(:has(#zen-workspaces-button:only-child)) {

          &:has(#zen-sidebar-foot-buttons:hover):not(:has(#zen-workspaces-button:hover)),
          &:has(#zen-sidebar-foot-buttons toolbarbutton[open="true"]) {
            @media not (-moz-bool-pref: "neo-features-bottom-keep-expanded") {
              --Neo-Bottom-Height-Aux: var(--Neo-Bottom-Height-Expanded);

              #zen-sidebar-foot-buttons {
                &::after {
                  opacity: 0 !important;
                  width: 0px !important;
                  top: 0px !important;
                  height: 0px !important;

                  transition: width 0.2s 0ms ease,
                    height 0.3s 0ms ease,
                    top 0.2s ease 0ms,
                    bottom 0.2s ease 0ms,
                    opacity 0.2s ease 0ms !important;
                }

                & #zen-workspaces-button {
                  height: 0px !important;
                  margin-top: 0px !important;
                  margin-bottom: 0px !important;
                  transition: height 0.3s 0ms ease, top 0.5s ease 0ms, bottom 0.5s ease 0ms, opacity 1s ease 0ms !important;
                }

                &>.toolbarbutton-1:not(#zen-workspaces-button),
                &>.toolbaritem-combined-buttons {
                  opacity: 1 !important;
                  pointer-events: all !important;
                }
              }
            }
          }
        }
      }
    }
  }
}